# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*/**/build

bin


*/**/__pycache__

**/*.class
.settings/org.eclipse.buildship.core.prefs
.gitignore
src/.settings/org.eclipse.buildship.core.prefs
src/.project
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.buildship.core.prefs
