/*

Stylesheet of our UI

@author - Julia B.Grenier, Tayba Jusab

*/


/* General attributes for the whole document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.root
{  
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-accent: #8768F2;
    -fx-focus-color: #8768F2;
    -fx-background-color: #FFFFFF;

}

.logo, .username
{
    -fx-font-size: 24px;
    -fx-text-fill: #8768F2;
}

.toolbarButton
{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-effect: none;
}

/* Buttons(Tabs) in the dashboard on the left for the different*/
.menuButton
{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-background-radius: 10px;
    -fx-text-fill: #808080;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}

/* Colors of the buttons(Tabs) in the dashboard on the left when the mouse hoves(go over) it*/
.menuButton:hover
{
    -fx-background-color: #F7F6FE;
    -fx-cursor: hand;
}

/* Action buttons are the buttons like AddImage that needs to be purple*/
.actionButton, .currentMenuButton
{
    -fx-text-fill: white;
    -fx-background-color: #8768F2;
    -fx-background-radius: 10px;
    -fx-padding: 5px 10px 5px 10px
}

.currentMenuButton .icon 
{
    -fx-fill: white;
}

.menuButton.icon
{
    -fx-translate-x: -20;
}

.currentMenuButton
{
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}

.currentMenuButton:hover {
    -fx-cursor: hand;
    -fx-background-color: #8768F2;
}

.usernameContainer
{
    -fx-pref-width: -1;
    -fx-pref-height: -1;
}

.cancelButton
{
    -fx-background-color: #a30d11;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
}

.text-field {
    -fx-background-color: #F7F6FE;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-text-fill: #808080;
}

/* Pop Up Style */
.popUpTitle
{
    -fx-text-fill: #8768F2;
    -fx-font-weight: bold;
}


/* CHOICE BOX STYLE */
.choice-box {
    -fx-background-color: white; 
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #808080;
    -fx-border-width: 1px;
}

.choice-box .menu-item{
    -fx-background-color: white;
}

.choice-box .menu-item:hover {
    -fx-background-color: #F7F6FE; 
}

/* TABLE VIEW STYLE */
.table-view {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
}

.table-view .column-header-background, .table-view .filler {
    -fx-background-color: white;
    /* HOW DO I REMOVE THE EXTRA FILLER COLUMN */
}

.table-view .column-header-background {
    -fx-background-color: #8768F2;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 5px 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-column {
    -fx-alignment: CENTER;
}

.table-view .table-cell {
    -fx-background-insets: 10, 0, 0, 0;
    -fx-background-radius: 20px;
    -fx-padding: 20px 0 10px 0;
    -fx-border-color: transparent;
    -fx-alignment: CENTER;
}

.table-row-cell:odd{
    -fx-background-color: white;
}

.table-row-cell:even{
    -fx-background-color: #F7F6FE;
}

/* TAB STYLE */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-background-color: white;
}

.tab-pane {
    -fx-tab-min-width: 90px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab
{
    -fx-background-color: #F7F6FE;

}

.tab-pane .tab:selected
{
    -fx-background-color: #8768F2;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #808080;
    -fx-font-size: 12px;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

/* Asset Type */
.icon-pencil {
    -icon-paint:  #8768F2;
    -fx-background-color: -icon-paint;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "m11.52 14.929l5.917-5.917a8.232 8.232 0 0 1-2.661-1.787a8.232 8.232 0 0 1-1.788-2.662L7.07 10.48c-.462.462-.693.692-.891.947a5.24 5.24 0 0 0-.599.969c-.139.291-.242.601-.449 1.22l-1.088 3.267a.848.848 0 0 0 1.073 1.073l3.266-1.088c.62-.207.93-.31 1.221-.45a5.19 5.19 0 0 0 .969-.598c.255-.199.485-.43.947-.891Zm7.559-7.559a3.146 3.146 0 0 0-4.45-4.449l-.71.71l.031.09c.26.749.751 1.732 1.674 2.655A7.003 7.003 0 0 0 18.37 8.08l.71-.71Z";
}

.icon-pencil:hover {
    -icon-paint: black;
}

.icon-asset {
    -icon-paint:  #808080;
    -fx-background-color: -icon-paint;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "m14.56 4l2.67 8H6.78l2.66-8h5.12M16 2H8L4 14h16L16 2m-5 13h2v5h5v2H6v-2h5v-5Z";
}

.icon-asset:hover {
    -icon-paint: black;
}


.icon-trash {
    -icon-paint:  #A30D11;
    -fx-background-color: -icon-paint;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M216 48h-36V36a28 28 0 0 0-28-28h-48a28 28 0 0 0-28 28v12H40a12 12 0 0 0 0 24h4v136a20 20 0 0 0 20 20h128a20 20 0 0 0 20-20V72h4a12 12 0 0 0 0-24ZM100 36a4 4 0 0 1 4-4h48a4 4 0 0 1 4 4v12h-56Zm88 168H68V72h120Zm-72-100v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0Zm48 0v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0Z";
}

.icon-trash:hover {
    -icon-paint: black;
}

.icon-image {
    -icon-paint: #4488D8;
    -fx-background-color: -icon-paint;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "M19 19H5V5h14m0-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-5.04 9.29l-2.75 3.54l-1.96-2.36L6.5 17h11l-3.54-4.71Z";
}

.icon-image:hover {
    -icon-paint: black;
}

.icon-edit {
    -icon-paint: #624DE3;
    -fx-background-color: -icon-paint;
    -size: 15;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;

    -fx-shape: "m7 17.013l4.413-.015l9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583l-1.597 1.582l-1.586-1.585l1.594-1.58zM9 13.417l6.03-5.973l1.586 1.586l-6.029 5.971L9 15.006v-1.589zM5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01c-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z"
}

.icon-edit:hover {
    -icon-paint: black;
}