/*

Stylesheet of our UI

@author - Julia B.Grenier, Tayba Jusab

*/


/* General attributes for the whole document */

.root
{  
    -fx-font-family: 'Yu Gothic';
    /*-fx-font-family: 'Vollkorn Regular';*/
    -fx-accent: #8768F2;
    -fx-focus-color: #8768F2;

    -fx-background-color: #FFFFFF;

}

.logo, .username
{
    -fx-font-size: 24px;
    -fx-text-fill: #8768F2;
}

.toolbarButton
{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-effect: none;
}

/* Buttons(Tabs) in the dashboard on the left for the different*/
.menuButton
{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-background-radius: 10px;
    -fx-text-fill: #808080;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}

/* Colors of the buttons(Tabs) in the dashboard on the left when the mouse hoves(go over) it*/
.menuButton:hover
{
    -fx-background-color: #CBC3E3;
}

/* Action buttons are the buttons like AddImage that needs to be purple*/
.actionButton, .currentMenuButton
{
    -fx-text-fill: white;
    -fx-background-color: #8768F2;
    -fx-background-radius: 10px;
}

.currentMenuButton .icon 
{
    -fx-fill: white;
}

.menuButton.icon
{
    -fx-translate-x: -20;
}

.currentMenuButton
{
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
}

.usernameContainer
{
    -fx-pref-width: -1;
    -fx-pref-height: -1;
}